body{
    background-color: lightgray!important;
}
  .border_right{
      border-right: 1px solid lightgray; 
  }
  .btn-facebook{
      background-color: #3B5998;
      color: #fff; 
      width: 300px;
      border-radius: 50px!important;
  }
  .forgot{
    
    font-size: 15px;
    
    color: #2196f3!important;
    cursor: pointer;

  }
  label{
    float: left;
  }
  .buttons{
    text-align: center;
    position: relative;
    top: 30%;

  }
  .btn-twitter{
      background-color: #55acee;
      color: #fff;
      width: 300px;
      border-radius: 50px!important;
  }
  .left{
    float: left;
    position: relative;
    left: 20px;

  }
  .btn-login{
    background-color: #55acee;
    color: #fff;
    
      border-radius: 50px!important;
  }
  .row{
      margin-left: 0px!important;
      margin-right: 0px!important;
  }
  .login_wrapper{
      background-color: #fff;
      padding: 10px;
      padding-bottom: 30px;
  }
  .video_wrapper{
    margin-top: 30px;
  }
  .logo{
    padding: 20px 0px 20px 0px; 
  }
  .login {
    border-radius: 2px 2px 5px 5px;
    padding: 10px 20px 10px 20px;
    width: 400px;
    background: #ffffff;
    position: relative;
  
 
  }
  .require{
    color: red;
  }
  .header{
    padding: 10px 0px 0px 0px;
  }
  .login.loading button {
    max-height: 100%;
    padding-top: 50px;
  }
  .login.loading button .spinner {
    opacity: 1;
    top: 40%;
  }
  .login.ok button {
    background-color: #8bc34a;
  }
  .login.ok button .spinner {
    border-radius: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    height: 20px;
    animation: none;
    transform: rotateZ(-45deg);
  }
  .login input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: #ccc;
  }
  .login input + i.fa {
    color: #fff;
    font-size: 1em;
    position: absolute;
    margin-top: -47px;
    opacity: 0;
    left: 0;
    transition: all 0.1s ease-in;
  }
  .login input:focus {
    outline: none;
    color: #444;
    border-color: #2196F3;
    border-left-width: 35px;
  }
  .login input:focus + i.fa {
    opacity: 1;
    left: 30px;
    transition: all 0.25s ease-out;
  }
  .login a {
    font-size: 0.8em;
    color: #2196F3;
    text-decoration: none;
  }
 


p{
  cursor: pointer;;
}